@media(min-width: 740px){
    #jsdk,#jsdn{
        display: none;
    }
}
@media(max-width: 1023px) {

    .li{
        position: relative;
        display: none;
        background-color: #CC99CC;
        top:40px;
        text-align: left;
        }
        .li.open{
            display: block;
        }
    .nav li  a{
        width:100%
    }     
    #tcc{
        text-align: center;
    }
    #search{
        text-align: center;
        transform: translateY(4%)
    }
    #tienich{
        float:left;
    }
    #return{
        padding-left: 20px;
        float:left;
        display: block;
    }
    .ti-angle-double-down{
        display: block;
    }
    *{
        font-size: 15px;
    }
    #content .tieude{
        margin : 10px 0;
        padding: 0 0;
    }
    .ti-more{
        font-size: 15px;
    }
    #ketthuc div,#ketthuc div i,#ketthuc div i a{
        font-size: 15px;
        padding-bottom:10px;
    }
}
@media(max-width: 1023px) and (min-width: 740px){
    #content .item img{
        height:130px;
        width:100%;
    }
    #logotc{
        transform: translateY(5px)
    }
    .ti-angle-double-down{
        transform: translateY(1px)
    }
    .nhan h1{
        line-height: 30px;
    }
    .khungmodalquenmk,.khungmodalmua,.khungmodaldn,.khungmodaldk{
        width:300px;
    }
}
@media(max-width:739px){
    #search{
        border-style: none;
        float: right;
        padding: 0 0;
        height:40px;
    }
    .input{
        display: none;
    }
    #search:hover{
        cursor: pointer;
    }
    #search:active{
        color:white;
    cursor: pointer;
    background-image: linear-gradient(0,rgb(61, 60, 60),rgb(117, 116, 116));
    border-style: solid;
    border-width: 0.1px;

    }
    #content .item img{
        height:50px;
        width:100%;
    }
    #content .item{
        margin: 5px 0;
    }
    #thedn{
        display: none;
    }
    *{
        font-size: 10px;
    }
    #content .tieude{
        margin : 10px 0;
        padding: 0 0;
    }
    .ti-more{
        font-size: 10px;
    }
    #ketthuc div,#ketthuc div i,#ketthuc div i a{
        font-size: 15px;
        padding-bottom:10px;
    }
    #logotc{
        transform: translateY(5px)
    }
    .ti-angle-double-down{
        transform: translateY(5px)
    }
    .khungmodalquenmk,.khungmodalmua,.khungmodaldn,.khungmodaldk{
        width:200px;
    }
    .nhan h1{
        line-height: 20px;
    }
}