* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Rokkitt', serif;
}  
#header{
    height:40px;
    background-color: #CC99CC;
}
#header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 2;
}
#tcc {
    display:inline-block;
}
#return,.li ,.nav,#search{
    display: inline-block;
    line-height: 40px;
    text-transform:uppercase;
    border-color: black;
    vertical-align: middle;
    height:40px;
}
#tienich,#td{
    display: inline-block;
}
<<<<<<< HEAD
#return ,#td li p,#tienich li a ,#tienich li p{
=======
#return ,#tienich li p,#tienich li a {
>>>>>>> upstream/main
    color:black;
    text-decoration: none;
    padding:0 20px;
    display:inline-block;
    height:40px;
    
}
#tcc{
    width:100%;
}
<<<<<<< HEAD
#td li:hover p,
#tienich li:hover a,#tienich li:hover p{
=======
#tienich li:hover p,
#tienich li:hover a{
>>>>>>> upstream/main
    color:white;
    cursor: pointer;
    background-image: linear-gradient(0,rgb(61, 60, 60),rgb(117, 116, 116));
}
.hopmore{
    text-align: center;
}
.more,
#content .item {
    border-style:solid;
    border-width: 0.001px;
    margin: 10px 10px ;
    border-radius: 10px; 
    display: inline-block;
    background-color: #eeee;
    vertical-align: middle;
}
.more{
    width:50px;
    text-align: center;

}
#content .item p {
   text-align:center;
   
}
#content .tieude{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color:black;
}
.more:hover,
#content .item:hover{
    transform: scale(1.05);
    box-shadow: 0.5 px;
    cursor: pointer;
}
#content .item .mua:hover {
    color:aqua;
    cursor: pointer;
}
#content .item .mua {
    font-size: 30px;
}
#banner{
    margin-top: 40px;
    padding-top: 36.5%;
    
    background-repeat: no-repeat;
    background-size: contain;
}
#content .item img{
    border-style:solid;
    border-width: 0.001px;
    border-radius: 10px;
    width:100%;
    height: 160px;
    
}
#content .khung {
    margin: 0 40px ;
    border-style:solid;
    border-width: 0.001px;
    border-radius: 10px;
    background-color:rgb(253, 226, 226);
    align-items: center;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}
.ti-more{
    font-size: 30px;
    color: black;
    vertical-align: middle;
}
#ketthuc{
    padding-top: 30px;
    background-color: black;
    color: white;
}
#lienhe{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}
#thongtin i,#thongtin i a{
    display: block;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
#logo i a{
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
#thongtin i a, #logo i a{
    text-decoration: none;
    color:white;
}
#logo i{
    
    font-size: 30px;
}
#logo{
    padding: 0px 5px 20px;
    text-align: center;
}
#logo i:hover{
    cursor: pointer;
    color:violet;
}
.modalquenmk,.modalmua,.modaldk, .modaldn{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    padding-top:10%
}
.modalquenmk.open,
.modalmua.open,
.modaldk.open,
.modaldn.open{
    display:block;
}
.nhan {
    position: relative;
    height: 50px;
    background-color: #CC99CC;
    text-align:  center;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    
}
.nhan h1{
    height: 50px;
    line-height:50px;
    font-size: 20px;
}
.close-icon-4,
.close-icon-3,
.close-icon-2,
.close-icon-1{
    position: absolute;
    top:3px;
    right:4px;
    font-size: 15px;
}
.close-icon-4:hover,
.close-icon-3:hover,
.close-icon-2:hover,
.close-icon-1:hover{
    color:red;
    cursor: pointer;
}
.khungmodalquenmk,.khungmodalmua,.khungmodaldn,.khungmodaldk{
    border-style: solid;
    border-width: 0.5px;
    background-color: white;
    border-radius: 10px;
    animation: modaltran ease 0.5s;
    text-align: center;
    width:350px;
    margin: auto;
}
.noidungmodal{
    padding: 10px 10px;
}
.inputmodal{
    padding: 10px 5px;
    width: 70%;
    border-style: solid;
   
}
.itemmodal{
    padding: 10px 0px;
}
.ketthucmodal p{
    display: inline-block;
    font-size: 20px;
}
.ketthucmodal{
    padding:10px 0px;
}
.submitquenmk,
.submitmua1,
.submitmua2,
.changedk,
.changedn{
    margin-left: 10px;
    padding: 5px 7px;
    border-style: solid;
    font-style: italic;
    border-width: 0.5px;
    background-color: #DDDDDD;
    border-radius: 3px;
}
.quenmk:hover,
.submitquenmk:hover,
.submitmua2:hover,
.submitmua1:hover,
.changedk:hover,
.submitdk:hover,
.submitdn:hover,
.changedn:hover{
    cursor: pointer;
}
.quenmk:active,
.submitquenmk:active,
.submitmua2:active,
.submitmua1:active,
.changedk:active,
.submitdk:active,
.submitdn:active,
.changedn:active{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #CC99CC;
    
}
@keyframes modaltran {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}
.submitmua1,.quenmk,
.submitmua2,.submitdk,
.submitdn ,.submitquenmk{
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px 7px;
    border-radius: 3px;
    vertical-align: middle;
}
.submitmua1,.submitmua2{
    height:30px;
    margin: 0 0;
}
.quenmk{
    display: inline-block;
}
.them{
    padding: 10px 0;
}
#content{
    padding-bottom: 10px;
}
#logotc{
    height:30px;
}
.ti-search,.input{
    color:black;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    vertical-align: middle; 
}
.ti-search{
    line-height: 35px;
}
.input{
    border-width: 0px;
    height: 25px;
    transform: translateY(-3px);
}
#search{
    height:35px;
    border-style: solid;
    border-radius: 10px;;
    border-width: 0.1px;
    padding-right: 10px;
}
.ti-angle-double-down{
    position: absolute;
    left:100px;
    top:10px;
    display: none;
}
.ti-angle-double-down:hover{
    cursor: pointer;
}
#jsdk p,#jsdn p{
    width:100%;
}
